{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Review your diary entry
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you
          </h1>
          <div class="govuk-panel__body">
            Your diary entry has been submitted successfully.
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>
          
          <a href="/version_1/start.html" role="button" class="govuk-button govuk-button--secondary">
  Create another diary entry
</a>
        
      </div>
    </div>

{% endblock %}
