
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CSC Placement prototype dashboard
        <span class="govuk-caption-xl"></span>
      </h1>{{releaseVersion | log }}
    </div>
  </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        This page contains links to all current and previous prototypes for the csc placement project. Team members prototype explorations are linked to in the right hand column.
      </p>

      <h2 class="govuk-heading-m">Current prototypes</h2>
         <ul class="govuk-list govuk-list--bullet">
            <li>
            <a href="version_1/start.html">Diary log (Version 1)</a>
            </li>
            <li>
            <a href="version_2/sign_in.html">Diary log (Version 2)</a>
            </li>
             <!-- <li>
            <a href="version_2/sign_in.html">Diary log (Version 3)</a>
            </li> -->
         </ul>

      <h2 class="govuk-heading-m">Previous prototypes</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://dfe-shortlisting.herokuapp.com/">Shortlisting and diary review prototype</a>
        </li>
        <li>
          <a href="https://dfe-fb-runner.herokuapp.com/">Foster family diary log prototype</a> - currently not working properly
        </li>
      </ul>
    </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Exploring ideas 'Playground'</h2>
        <h3 class="govuk-heading-s">Additional pages</h3>
        <ul class="govuk-list govuk-list--bullet">
        	<li><a href="/version_1/serious_incident.html">Serious incident page</a></li>
        </ul>
        <h3 class="govuk-heading-s">Johanna's explorations</h3>
        <ul class="govuk-list govuk-list--bullet">
        	<li><a href="">Link</a></li>
        </ul>
        <h3 class="govuk-heading-s">Jay's explorations</h3>
        <ul class="govuk-list govuk-list--bullet">
        	<li><a href="">Link</a></li>
        </ul>
        <h3 class="govuk-heading-s">Anyone else's explorations</h3>
        <ul class="govuk-list govuk-list--bullet">
        	<li><a href="">Link</a></li>
        </ul>
       </div>
  </div>

{% endblock %}
