{% extends "layout.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Physical health
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

    {{ govukBackLink({
      text: "Back",
      href: "diary_event"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Physical health</h1>

        <form action="/check-answers" method="post" novalidate>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              What do you want to write about
            </label>
            <select class="govuk-select" id="sort" name="sort">
                <option value="accident">Accident</option>
                <option value="gp" selected>GP visit</option>
                <option value="hospital">Hospital visit</option>
                <option value="dentist">Dentist</option>
                <option value="optician">Optician</option>
                <option value="hearing">Hearing appointment</option>
                <option value="other">Other</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Is this negative or positive
              </legend>
              

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
      </div>
    </div>

{% endblock %}
